:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: #f96dac;
  /*this is not the color in the style guide but it is more accessible (the previous one did not have enough contrast)*/
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-family: "League Spartan", sans-serif;
  font-size: .9375rem;
}

/*resets and layout*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  justify-content: center;
}

/* background */

.mobile-pattern-bottom,
.mobile-pattern-top {
  position: fixed;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.mobile-pattern-bottom {
  height: 503px;
  bottom: 0;
  background-image: url("./images/bg-pattern-bottom-mobile.svg");
}

.mobile-pattern-top {
  height: 232px;
  top: 0;
  background-image: url("./images/bg-pattern-top-mobile.svg");
}

/* social proof section */

.social-proof {
  margin: 4rem 0;
  flex-grow: 1;
}

.social-proof-header h1 {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  text-align: center;
  width: 75%;
  color: var(--very-dark-magenta);
}

.social-proof-header p {
  text-align: center;
  line-height: 1.6rem;
  width: 100%;
  font-size: 1.25rem;
  color: var(--dark-grayish-magenta);
}

.social-proof-grid {
  display: grid;
  grid-template-areas:
    "header"
    "stars"
    "reviews";
  gap: 2rem;
}

.social-proof-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* starred reviews */

.starred-reviews,
.star-review {
  display: flex;
}

.starred-reviews {
  grid-area: stars;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.star-review {
  flex-direction: column;
  background-color: hsl(300, 24%, 96%);
  border-radius: .5rem;
  padding: 1rem;
  gap: .75rem;
  align-items: center;
}

.star {
  background-image: url("../images/icon-star.svg");
  width: 17px;
  height: 16px;
  display: inline-block;
}

.star-review-title {
  font-size: 1rem;
  color: var(--very-dark-magenta);
}

.stars-out-of-five {
  gap: .5rem;
}

/* client reviews */

.client-reviews {
  display: flex;
  grid-area: reviews;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.client-review {
  padding: 2rem;
  background-color: var(--very-dark-magenta);
  border-radius: .5rem;
  display: grid;
  grid-template-areas:
    "image info x"
    "review review review"
    "review review review";
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 2fr 3fr 2fr;
  width: 100%;
  gap: 1rem;
}

.reviewer-image {
  grid-area: image;
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1/1;
}

.reviewer-name-and-title {
  grid-area: info;
  justify-content: center;
  gap: 0.25rem;
}

.reviewer-name,
.reviewer-title {
  font-size: 1rem;
}

.reviewer-name {
  color: var(--white);
  font-weight: var(--fw-medium);
}

.reviewer-title {
  color: var(--soft-pink);
  font-weight: var(--fw-regular);
}

.review-text {
  grid-area: review;
  color: var(--white);
  font-weight: var(--fw-regular);
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* desktop */

@media only screen and (min-width: 40rem) {

  /* background */

  .mobile-pattern-bottom,
  .mobile-pattern-top {
    display: none;
  }

  .desktop-pattern-top,
  .desktop-pattern-bottom {
    position: fixed;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .desktop-pattern-top {
    top: 0;
    background-image: url("./images/bg-pattern-top-desktop.svg");
    height: 382px;
  }

  .desktop-pattern-bottom {
    bottom: 0;
    background-image: url("./images/bg-pattern-bottom-desktop.svg");
    height: 673px;
  }

  /* layout */

  main {
    padding: 1rem 8.5rem;
  }

  /* social proof section */

  .social-proof-grid {
    grid-template-areas:
      "header empty stars"
      "reviews reviews reviews";
    grid-template-columns: 3.5fr 1fr 3.5fr;
    gap: 1rem;
  }

  .social-proof-header h1,
  .social-proof-header p {
    text-align: start;
    width: 100%;
  }

  .social-proof-header h1 {
    font-size: 3.5rem;
    font-weight: var(--fw-bold);
  }

  .social-proof-header p {
    margin-top: 2rem;
  }

  /* client reviews */

  .client-reviews {
    flex-direction: row;
  }

  .client-review:nth-child(1) {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .client-review:nth-child(2) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .client-review:nth-child(3) {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  /* starred reviews */

  .star-review {
    flex-direction: row;
    gap: 3rem;
    padding: 1.5rem 1rem;
  }

  .star-review:nth-child(1) {
    margin-left: 0;
    margin-right: 5rem;
  }

  .star-review:nth-child(2) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .star-review:nth-child(3) {
    margin-left: 5rem;
    margin-right: 0;
  }
}


/*flex classes*/

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}